<div th:fragment="frag_index_content" class="content-wrapper">
  <div class="content-header">
    <title>게시판</title>
  </div>

  <div class="content-fluid">
    <br>
    <br>
    <button onclick= "location.href='/post/create'">글 작성하기</button>
    <br>
    <br>
    <table>
      <thead>
      <tr>
        <th style="width: 100px">제목</th>
        <th style="width: 100px">작성자</th>
        <th style="width: 100px">작성일</th>
      </tr>
      </thead>

      <tbody>
      <!-- 반복문을 통해서 디비의 내용을 가져와서 동적 구성 -->
      <tr th:each="post : ${posts}">
        <td>
          <a th:href="@{|/post/detail/${post.getPostId()}|}"
             th:text="${post.getTitle()}" ></a>
        </td>
        <td th:text="${post.getAuthorId()}"></td>
        <td th:text="${post.getCreatedDate()}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>